body {
	background: linear-gradient(90deg, rgba(0, 212, 255, 1) 0%, rgba(2, 160, 221, 1) 27%, rgba(0, 212, 255, 1) 51%, rgba(2, 160, 221, 1) 72%, rgba(0, 212, 255, 1) 90%);
}

.oferta {
	margin-left: 15%;

}

.beneficios {
	margin-left: 10%;
}

.item {
	border-radius: 10px;
}

.item img {
	object-fit: cover;
	border-radius: 10px 10px 0 0;
	transition: all .5s;
}

.item:hover {
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
}

.item figure {
	overflow: hidden;
}

.item:hover img {
	transform: scale(1.2);
	/*Escalar un 120%*/
}